.details-filter-row.details-row-size
  .product-details-quantity
  .cart-product-quantity {
  width: 100%;
}

.product-gallery-vertical .product-main-image img,
.product-gallery-vertical .product-image-gallery .product-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.active.btn-wishlist::before {
  color: #fcb941;
  animation: wishListColor 0.5s;
}

.active.btn-wishlist span {
  color: #fcb941;
}

@keyframes wishListColor {
  from {
    color: red;
  }
  to {
    color: #fcb941;
  }
}
